/*list styling*/
/* The <ul> tag defines an unordered (bulleted) list */
ul {
    /* Remove list bullets */
    list-style-type: none;
    
    /* The CSS margin properties are used to create space around elements, outside of any defined borders */
    margin: 0;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 0;
    
    /* The overflow property specifies what should happen if content overflows an element's box. */
    overflow: hidden;
    
    /*  */
    background-color: #333;
}
/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
li {
    /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
    float: left;
}
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
    display: block;
    
    /*  */
    color: white;
    
    /* The text-align property specifies the horizontal alignment of text in an element. */
    text-align: center;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 14px 16px;
    
    /* The text-decoration property specifies the decoration added to text */
    text-decoration: none;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
    /*  */
    background-color: #666;
}

li a .active {
    
    background-color: #397037;}
    
#search{ 
    
    text-align: right;

}

/**/
 a {
display:inline-block;
color:#F5E2BC;
background-color: #397037;
text-decoration: none;
padding: 8px 16px; 
overflow: hidden;
float: initial;
text-align: center;
}

/*change hover color*/
 a:hover {
    background-color: #B2D732;
    color: #F5E2BC; 
}
/*form text*/
fieldset{
    width: max-content;
    margin-left: 520px
}



.header {
    padding: 60px;
    text-align: center;
    background: #5E503F;
    color:white;
}

    




#main{
    font-style: serif;
    margin-left: 530px;
}
fieldset{
    align-self: center;
}

div{
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}




  
#bgimg {
    /* The image used */
    background-image:url("images/marble.jpg");
  

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }


 .search {
        position: relative;
        left:20%;
        top:25%;
        width:30%;
        padding-top: 10px;
        padding-bottom: 10px;
 }


 .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 30%;
    opacity: 0;
    transition: .5s ease;
    background-color:#397037;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


ol {
    list-style-type: none;
    margin-left: 550px;
}

table{
    margin-top: 100px;
    text-align: center;
    margin-left: 350px;
}

#main {
    margin-left: ;
}
