
 @media screen and (min-width:1000px){

  #main{
    margin-left: 300px;
  }



 }








  /*contact bg*/


  @media screen and (max-width:300px) {
    .bgimg{ 
      display: none;
    }
  } 
  #main{
    margin-left: 0;
  }


    }




    /*table */

    @media screen and (max-width: 600px) {
      header{
        float: left;
      } 
      #main{
        margin-left: 0;
      }
     
     }






     @media (min-width: 768px) and (max-width: 1024px)
     { #menueToggle span{

    size: 40%;
     }





     }